.bgTitleColor {
    background-color: var(--generalTableTitleColor);
    color: var(--titleFontColor);
}

.bgcolor1 {
    background-color: var(--cellColor1);
}

.bgcolor2 {
    background-color: var(--cellColor2);
}